<Layouts.app flash={@flash}>
  <.header>
    Submission {@submission.id}
    <:subtitle>This is a submission record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/submissions"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/submissions/#{@submission}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit submission
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Title">{@submission.title}</:item>
    <:item title="Abstract">{@submission.abstract}</:item>
    <:item title="Status">{@submission.status}</:item>
    <:item title="Journal">{@submission.journal_id}</:item>
  </.list>
</Layouts.app>
