<section class="max-w-7xl mx-auto px-4 py-8">
  <div class="text-sm text-gray-500 mb-2">
    <a href={~p"/journals/#{@journal_name}/current"} class="hover:underline">Beranda</a>
    / Pernyataan Privasi
  </div>

  <h2 class="text-2xl font-bold text-gray-900 mb-6">Pernyataan Privasi</h2>

  <div class="bg-white p-6 border rounded-lg shadow-sm">
    <p class="text-gray-700 text-sm leading-relaxed">
      Nama dan alamat email yang dimasukkan di website ini hanya akan digunakan untuk tujuan yang sudah disebutkan, tidak akan disalahgunakan untuk tujuan lain atau disebarluaskan ke pihak lain.
    </p>
  </div>
</section>
